@model Antelope.Models.HSE.FicheSecurite

@{
    ViewBag.Title = "Création Fiche Sécurité";
    Layout = "~/Views/HSE/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <!-- Actions Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="form-horizontal  input-sm">

            @Html.ValidationSummary(true)

            <div class="row">


                <div class="panel-group" id="accordion">
                    <div class="panel panel-danger">
                        <div class="panel-heading" style="background-color: #C42031; color: white">
                            <div class="row">

                                <div class="col-md-4">

                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapseOne" data-target="#collapseOne">
                                            @*data-parent="#accordion"*@
                                            FICHE SECURITE
                                        </a>
                                    </h4>

                                </div>
                                <div class="col-md-8">

                                    <span class="glyphicon glyphicon-ok pull-right"></span>
                                    <span class="pull-right">Statut : </span>

                                    <button type="submit" class="btn pull-right btn-xs">
                                        <span class="glyphicon glyphicon-envelope"></span> Diffusion
                                    </button>



                                </div>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md12">
                                        <div class="well well-sm">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-2">

                                                            @Html.LabelFor(model => model.SiteId, "Site")
                                                        </div>
                                                        <div class="col-md-10">

                                                            @Html.DropDownList("SiteId", String.Empty)
                                                            @Html.ValidationMessageFor(model => model.SiteId)
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-2">

                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            @Html.LabelFor(model => model.FicheSecuriteTypeId, "Type")

                                                        </div>
                                                        <div class="col-md-10">

                                                            @Html.DropDownList("FicheSecuriteTypeId", String.Empty)
                                                            @Html.ValidationMessageFor(model => model.FicheSecuriteTypeId)
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-2">

                                                            @Html.LabelFor(model => model.Code)
                                                        </div>
                                                        <div class="col-md-10">

                                                            @Html.EditorFor(model => model.Code)
                                                            @Html.ValidationMessageFor(model => model.Code)
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-5">

                                                            Date & Heure Evnmt :
                                                            @*@Html.LabelFor(model => model.DateEvenement)*@
                                                        </div>

                                                        <input name="DateEvenement" id="DateEvenement" class="col-md-3" type="text" value="@ViewBag.DateEvenement">
                                                        @*@Html.TextBoxFor(model => model.DateEvenement, new { @class = "col-md-6" })*@
                                                        @Html.ValidationMessageFor(model => model.DateEvenement)

                                                        @*<input name="HeureEvenement" id="HeureEvenement" class="col-md-8" type="time" value="@ViewBag.HeureEvenement">*@

                                                        <input name="HeureEvenement" id="HeureEvenement" class="col-md-2" type="text" onchange="validateHhMm(this);" value="@ViewBag.HeureEvenement" />
                                                        @Html.ValidationMessageFor(model => model.DateEvenement)

                                                        <input name="HeureEvenementValide" id="HeureEvenementValide" type="hidden" />

                                                    </div>

                                                </div>




                                            </div>



                                        </div>


                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.SiteId, "Site", new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("SiteId", String.Empty)
                                                    @Html.ValidationMessageFor(model => model.SiteId)
                                                </div>
                                            </div>*@



                                    </div>
                                </div>

                                <div class="col-md-9">



                                    <div class="col-md-4">

                                        <div class="row">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PersonnesConcernees, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.PersonnesConcernees)
                                                    @Html.ValidationMessageFor(model => model.PersonnesConcernees)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Age)
                                                    @Html.ValidationMessageFor(model => model.Age)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PlageHoraire, "Plage Horaire", new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("PlageHoraireId", String.Empty)
                                                    @Html.ValidationMessageFor(model => model.PlageHoraire)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PosteDeTravail, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.PosteDeTravail)
                                                    @Html.ValidationMessageFor(model => model.PosteDeTravail)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Service, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Service)
                                                    @Html.ValidationMessageFor(model => model.Service)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Responsable, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Responsable)
                                                    @Html.ValidationMessageFor(model => model.Responsable)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ZoneId, "Zone", new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("ZoneId", String.Empty)
                                                    @Html.ValidationMessageFor(model => model.ZoneId)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LieuId, "Lieu", new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("LieuId", String.Empty)
                                                    @Html.ValidationMessageFor(model => model.LieuId)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DangerId, "Danger", new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("DangerId", String.Empty)
                                                    @Html.ValidationMessageFor(model => model.DangerId)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Risque, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Risque)
                                                    @Html.ValidationMessageFor(model => model.Risque)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Temoins, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Temoins)
                                                    @Html.ValidationMessageFor(model => model.Temoins)
                                                </div>
                                            </div>



                                            @*<div class="form-group">
                                                    @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.Nom)
                                                        @Html.ValidationMessageFor(model => model.Nom)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Prenom, new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.Prenom)
                                                        @Html.ValidationMessageFor(model => model.Prenom)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DateCreation, new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.DateCreation)
                                                        @Html.ValidationMessageFor(model => model.DateCreation)
                                                    </div>
                                                </div>*@



                                        </div>










                                    </div>

                                    <div class="col-md-8">
                                        <div class="row">

                                            <div class="col-md-6">

                                                <div class="form-group">

                                                    <h4>Description</h4>

                                                    @*<div class="col-sm-12">
                                                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                                        </div>*@
                                                    <div class="col-sm-12">
                                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control input-small", rows = "8" })    @*, style="width: 206px;"*@
                                                        @Html.ValidationMessageFor(model => model.Description)
                                                    </div>

                                                </div>

                                            </div>


                                            <div class="col-md-6">

                                                <h4>Cotation</h4>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CotationFrequence, new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.CotationFrequence)
                                                        @Html.ValidationMessageFor(model => model.CotationFrequence)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CotationGravite, new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.CotationGravite)
                                                        @Html.ValidationMessageFor(model => model.CotationGravite)
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group">

                                                    <label class="control-label col-md-4" for="CriticiteBrute">Criticité Brute</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="CriticiteBrute" value="@ViewBag.CriticiteBrute" disabled />
                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                        <div class="row">




                                            <div class="panel panel-default">
                                                <!-- Default panel contents -->
                                                <div class="panel-heading">
                                                    ACTIONS IMMEDIATES
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            @Html.TextAreaFor(model => model.ActionImmediate1, new { @class = "form-control input-small", rows = "4", style = "max-width: 100%; " })    @*, style="width: 206px;"*@
                                                            @Html.ValidationMessageFor(model => model.ActionImmediate1)

                                                            @Html.TextAreaFor(model => model.ActionImmediate2, new { @class = "form-control input-small", rows = "4", style = "max-width: 100%; " })    @*, style="width: 206px;" *@
                                                            @Html.ValidationMessageFor(model => model.ActionImmediate2) 

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-3">

                                    <div class="row">

                                        <input id="CorpsHumainSelected" type="text" class="pull-right" value=@Model.CorpsHumainZone.Nom disabled />
                                        <input id="CorpsHumainSelectedHidden" type="hidden" class="pull-right" value=@Model.CorpsHumainZone.Code disabled />
                                    </div>


                                    <div class="row">
                                        @*ATTENTION !!! NE PAS OUBLIER LE DIESE "#" DANS LE HREF SINON LE MOUSEOVER / HOVER NE FONCTIONNE PAS !!!*@

                                        <img id="map" alt="TestMap.jpg" usemap="#TestMap" src="~/Content/images/HSE/FicheSecurite/HumanBody3.jpg" />
                                        <map id="TestMap" name="TestMap">
                                            <area data-name="Crâne" data-code="CRANE" class="CRANE" alt="" href="#" shape="poly" coords="144,33,144,22,142,16,136,10,129,7,119,7,111,11,106,16,104,20,104,33" />
                                            <area data-name="Yeux" data-code="YEUX" class="YEUX" alt="" href="#" shape="rect" coords="105,35,143,43" />
                                            <area data-name="Nez" data-code="NEZ" class="NEZ" alt="" href="#" shape="rect" coords="119,43,129,52" />
                                            <area data-name="Bouche" data-code="BOUCHE" class="BOUCHE" alt="" href="#" shape="rect" coords="109,53,140,60" />
                                            <area data-name="Oreille Gauche" data-code="OREILLEG" class="OREILLEG" alt="" href="#" shape="poly" coords="104,38,101,36,99,37,99,41,106,53,104,38" />
                                            <area data-name="Oreille Droite" data-code="OREILLED" class="OREILLED" alt="" href="#" shape="poly" coords="143,38,146,35,148,35,149,39,143,52,143,38" />
                                            <area data-name="Menton" data-code="MENTON" class="MENTON" alt="" href="#" shape="poly" coords="109,60,140,60,133,67,117,67,109,60,109,60" />
                                            <area data-name="Cou" data-code="COU" class="COU" alt="" href="#" shape="poly" coords="109,60,109,75,105,79,118,87,133,87,143,79,140,75,139,69,139,64,140,60,133,67,117,67,109,60" />
                                            <area data-name="Epaule Gauche" data-code="EPAULEG" class="EPAULEG" alt="" href="#" shape="poly" coords="105,79,91,88,83,91,77,92,71,96,66,102,64,109,64,113,63,117,85,134,105,79" />
                                            <area data-name="Epaule Droite" data-code="EPAULED" class="EPAULED" alt="" href="#" shape="poly" coords="143,79,155,87,160,90,168,93,175,97,181,103,184,110,186,115,186,124,163,133,143,79" />
                                        </map>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-danger">
                        <div class="panel-heading" style="background-color: #C42031; color: white">

                            <div class="row">

                                <div class="col-md-4">

                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapseTwo" data-target="#collapseTwo">
                                            @*data-parent="#accordion"*@
                                            ACTIONS CORRECTIVES ET PREVENTIVES
                                        </a>
                                    </h4>

                                </div>
                                <div class="col-md-8">


                                    <button type="submit" class="btn pull-right btn-xs" style="color: red">
                                        <span class="glyphicon glyphicon-remove"></span> Rejeter fiche
                                    </button>
                                    <button type="submit" class="btn pull-right btn-xs" style="color: green">
                                        <span class="glyphicon glyphicon-ok"></span> Valider fiche
                                    </button>
                                    <button type="submit" class="btn pull-right btn-xs">
                                        @*btn-primary*@
                                        <span class="glyphicon glyphicon-envelope"></span> Envoi à l'ASE
                                    </button>

                                </div>
                            </div>

                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Panel heading</div>

                                    <table class="table table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    A
                                                </th>
                                                <th>
                                                    B
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.ActionSecurites != null)
                                            {
                                                foreach (var action in Model.ActionSecurites)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => action.Code)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => action.FaitPar)
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-danger">
                        <div class="panel-heading" style="background-color: #C42031; color: white">




                            <div class="row">

                                <div class="col-md-4">

                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapseThree" data-target="#collapseThree">
                                            @*data-parent="#accordion"*@
                                            MAITRISE / COTATION
                                        </a>
                                    </h4>

                                </div>
                                <div class="col-md-8">



                                    <button type="submit" class="btn pull-right btn-xs">
                                        <span class="glyphicon glyphicon-ok"></span> Clôturer fiche
                                    </button>

                                </div>
                            </div>

                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CotationFrequence, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.CotationFrequence)
                                        @Html.ValidationMessageFor(model => model.CotationFrequence)
                                    </div>
                                </div>body

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CotationGravite, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.CotationGravite)
                                        @Html.ValidationMessageFor(model => model.CotationGravite)
                                    </div>
                                </div>

                                <div class="form-group">
                                    Criticité Brute
                                    <div class="col-md-8">
                                        <input type="text" value="@ViewBag.CriticiteBrute" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-9">

                </div>

            </div>

        </div>  @*End Form*@

    </div>
}

<link href="~/Content/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/Scripts/backbone.min.js"></script>
@*<script type="text/javascript" src="@Url.Content("~/Content/Scripts/HSE/FicheSecurite/Create.js")"></script>*@

<script type="text/javascript" src="~/Scripts/jquery.imagemapster.min.js"></script>

<script type="text/javascript">

    function validateHhMm(inputField) {
        var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(inputField.value);

        if (isValid) {
            inputField.style.backgroundColor = '#bfa';
            $("#HeureEvenementValide").val('true')
        } else {
            inputField.style.backgroundColor = '#fba';
            $("#HeureEvenementValide").val('false')
        }

        return isValid;
    }

    function getZones(SiteId) {
        $.ajax({
            url: "@Url.Action("Zones", "FicheSecurite")",
            data: { SiteId: SiteId },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";
                items += "<option value=\"\">" + "" + "</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $("#ZoneId").html(items);

                var LieuxItems = "";
                LieuxItems += "<option value=\"\">" + "" + "</option>";
                $("#LieuId").html(LieuxItems);
            }
        });
    }

    function getLieux(ZoneId) {
        $.ajax({
            url: "@Url.Action("Lieux", "FicheSecurite")",
            data: { ZoneId: ZoneId },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";
                items += "<option value=\"\">" + "" + "</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $("#LieuId").html(items);
            }
        });
    }

    $(document).ready(function () {

        var FicheSecuriteViewModel = Backbone.Model.extend({});



        @*var crane = "@(Model.CorpsHumainZone.Code == "Crane" ? true : false )";
        var yeux = "@(Model.CorpsHumainZone.Code == "Yeux" ? true : false )";
        var nez = "@(Model.CorpsHumainZone.Code == "Nez" ? true : false )";
        var bouche = "@(Model.CorpsHumainZone.Code == "Bouche" ? true : false )";

        console.log(@(Model.CorpsHumainZone.Code == "Yeux" ? true : false ));*@

        $('#map').mapster(
            {
                fillColor: 'C42031',
                fillOpacity: 1,
                singleSelect: true,
                mapKey: 'data-code',
                areas: [
    {
        key: 'crane',
        selected: false
    },
    {
        key: 'yeux',
        selected: false
    },
    {
        key: 'nez',
        selected: false
    },
    {
        key: 'bouche',
        selected: false
    }]
                //highlight: true,
                //mapKey: 'name',
                //stroke: true,
                //strokeWidth: 2,
                //strokeColor: 'ff0000',
                //strokeOpacity: 1,
                //strokeWidth: 1,
                //fill: true,
                //fillColor: '00ff00',
                //render_highlight: {
                //    fillColor: '2aff00',
                //    stroke: true,
            }

        );

        $("area." + "@(Model.CorpsHumainZone.Code)").mapster('set', true);

        $("area").on('click', function () {
            $("#CorpsHumainSelected").val($(this).data('name'));
            $("#CorpsHumainSelectedHidden").val($(this).data('code'));
        });

        $("#SiteId").change(function () {
            var SiteId = $("#SiteId").val();
            getZones(SiteId);
        });

        $("#ZoneId").change(function () {
            var ZoneId = $("#ZoneId").val();
            getLieux(ZoneId);
        });

        $("#DateEvenement").datepicker({
            monthNames: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"],
            dayNamesMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
            dayNames: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
            dateFormat: "dd/mm/yy",
            firstDay: 1
        });

        $("#CotationGravite").keyup(function () {
            CalculCriticiteBrute();
        });


        $("#CotationFrequence").keyup(function () {
            CalculCriticiteBrute();
        });


        function CalculCriticiteBrute() {
            $("#CriticiteBrute").val($("#CotationGravite").val() * $("#CotationFrequence").val());
        }

    });

</script>
