@using PagedList.Mvc;

@*@model IEnumerable<Antelope.Models.HSE.FicheSecurite>*@
@model PagedList.IPagedList<Antelope.Models.HSE.FicheSecurite>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HSE/Shared/_Layout.cshtml";
}


<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="/Scripts/underscore.js"></script>
<script type="text/javascript" src="/Scripts/backbone.js"></script>

<script type="text/javascript" src="~/Scripts/Application/HSE/FicheSecurite/RechercheFicheSecuriteViewModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/Socle/SiteModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/Socle/ZoneModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/Socle/LieuModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/Socle/PosteDeTravailModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/Socle/ZoneTypeModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/Socle/LieuTypeModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/Socle/PosteDeTravailTypeModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/FicheSecuriteModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/FicheSecuriteTypeModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/PersonneConcerneeModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/PlageHoraireModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/ResponsableModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/RisqueModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/CorpsHumainZoneModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/DangerModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/QSE/ActionModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/QSE/CauseModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/RisqueModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/RisqueTypeModel.js"></script>  

<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/FicheSecuriteModel.js"></script>
<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/PersonneConcerneeModel.js"></script>




<script type="text/template" id="TableRecherche">


    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading" style="background-color :#c42031; color: white">

                    <div class="row">

                        <div class="col-md-4">

                            Filtres

                        </div>
                        <div class="col-md-6">
                        </div>

                        <div class="col-md-2">

                            <button type="submit" class="btn btn-primary btn-xs pull-right">
                                <span class="glyphicon glyphicon-search"></span> Chercher
                            </button>

                        </div>

                    </div>

                </div>
                <div class="panel-body" style="padding:0px;">

                    <div class="row input-sm">



                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="Site" class="label-xs">Site&nbsp;:</label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="Site" class="form-control input-xs">
                                        <% siteCollection.each( function(site){ %>
                                        <%= console.log('site')%>
                                        <option value="<%= site.get('SiteID') %>">
                                            @*<% if (ficheSecuriteModel.get('SiteId') == site.get('SiteID')){ %> selected <% } %>
                            >*@
                                            <%= site.get('Nom') %>
                                        </option>
                                        <% }); %>
                                        @*%> selected <%*@
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="Zone" class="col-sm-4 label-xs">Zone&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-xs" id="Zone">

                                            <% zoneCollection.each( function(zone){ %>
                                            <option value="<%= zone.get('ZoneID') %>"
                                                    @*<% if (ficheSecuriteModel.get('ZoneId') == zone.get('ZoneID')){ %> selected <% } %>*@>
                                                <%= zone.get('Nom') %>
                                            </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="Lieu" class="col-sm-4 label-xs">Lieu&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-xs" id="Lieu">

                                            <% lieuCollection.each( function(lieu){ %>
                                            <option value="<%= lieu.get('LieuID') %>"
                                                    @*<% if (ficheSecuriteModel.get('LieuId') == lieu.get('LieuID')){ %> selected <% } %>*@>
                                                <%= lieu.get('Nom') %>
                                            </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="PosteDeTravail" class="col-sm-4 label-xs">Poste&nbsp;de&nbsp;travail&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-xs" id="PosteDeTravail">
                                            <% posteDeTravailCollection.each( function(posteDeTravail){ %>
                                            <option value="<%= posteDeTravail.get('PosteDeTravailId') %>"
                                                    @*<% if (ficheSecuriteModel.get('PosteDeTravailId') == posteDeTravail.get('PosteDeTravailId')){ %> selected <% } %>*@>
                                                <%= posteDeTravail.get('Nom') %>
                                            </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="Service" class="col-sm-4 label-xs">Service&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-xs" id="Service">

                                            <% serviceCollection.each( function(service){ %>
                                            <option value="<%= service.get('ServiceID') %>"
                                                    @*<% if (ficheSecuriteModel.get('ServiceId') == service.get('ServiceID')){ %> selected <% } %>*@>
                                                <%= service.get('Nom') %>
                                            </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="Code" class="label-xs">Code&nbsp;:</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="Code" class="form-control input-xs" value="" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="Age" class="label-xs">Age&nbsp;:</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="Age" class="form-control input-xs" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="Type" class="label-xs">Type&nbsp;:</label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="Type" class="form-control input-xs">

                                        <% ficheSecuriteTypeCollection.each( function(type){ %>
                                        <option value="<%= type.get('FicheSecuriteTypeID') %>"
                                                @*<% if (ficheSecuriteModel.get('FicheSecuriteTypeId') == type.get('FicheSecuriteTypeID')){ %> selected <% } %>*@
                                                >
                                                <%= type.get('Nom') %>
                                            </option>
                                        <% }); %>

                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label-xs">Date&nbsp;Evnmt&nbsp;:</label>
                                </div>
                                <div class='col-sm-8'>
                                    @*<div class="form-group">*@
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' name="DateEvenement" id="DateEvenement" class="form-control input-xs" value="" />
                                        <span class="input-group-addon input-xs">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @*</div>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        @*style="padding-right:0px;"*@
                                        <label for="PersonnesConcerneeNom" class="label-xs">Nom&nbsp;pers.&nbsp;concern.&nbsp;:&nbsp;&nbsp;</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group input-group-xs">
                                            <input type="text" class="form-control input-xs" id="PersonnesConcerneeNom" value="">
                                            @*<span class="input-group-addon" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span></span>*@
                                            @*<span class="input-group-btn">
                                                <button id="ActiveDirectoryPersonneConcerneeRecherche" class=" btn btn-default" type="button" data-toggle="modal" @*data-target="#ActiveDirectoryUtilisateurModal">
                                                    <span class="glyphicon glyphicon-user">
                                                </button>
                                            </span>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="PlageHoraire" class="col-sm-4 label-xs">Plage&nbsp;horaire&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-xs" id="PlageHoraire">

                                            <% plageHoraireCollection.each( function(plageHoraire){ %>
                                            <option value="<%= plageHoraire.get('PlageHoraireID') %>"
                                                @*<% if (ficheSecuriteModel.get('PlageHoraireId') == plageHoraire.get('PlageHoraireID')){ %> selected <% } %>*@
                                                >
                                                <%= plageHoraire.get('Nom') %>
                                            </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="Danger" class="col-sm-4 label-xs">Danger&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-xs" id="Danger">
                                            <% dangerCollection.each( function(danger){ %>
                                            <option value="<%= danger.get('DangerID') %>"
                                                    @*<% if (ficheSecuriteModel.get('DangerId') == danger.get('DangerID')){ %> selected <% } %>*@>
                                                <%= danger.get('Nom') %>
                                            </option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group">
                                    <label for="Risque" class="col-sm-4 label-xs">Risque&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-xs" id="Risque">
                                            <% risqueTypeCollection.each( function(risqueType){ %>
                                            <optgroup label="<%= risqueType.get('Nom') %>">
                                                @*La fonction Where renvoie un array et non pas une collection, on utilise donc _.each et non pas each de Backbone*@
                                                <% _.each(risqueCollection.where({'RisqueTypeId': risqueType.get('RisqueTypeId')}), function(risque){ %>
                                                <option value="<%= risque.get('RisqueId') %>"
                                                    @*<% if (ficheSecuriteModel.get('RisqueId') == risque.get('RisqueId')){ %> selected <% } %>*@
                                                >
                                                    <%= risque.get('Nom') %>
                                                <% }); %>
                                            </optgroup>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="Frequence" class="col-sm-4 label-xs">Fréquence&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-xs" id="Frequence" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="Gravite" class="col-sm-4 label-xs">Gravité&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-xs" id="Gravite" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="CorpsHumainZone" class="col-sm-4 label-xs">Zone Corps Humain&nbsp;:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-xs" id="CorpsHumainZone">
                                            <% corpsHumainZoneCollection.each( function(corpsHumainZone){ %>
                                            <option value="<%= corpsHumainZone.get('CorpsHumainZoneID') %>"
                                                    @*<% if (ficheSecuriteModel.get('DangerId') == danger.get('DangerID')){ %> selected <% } %>*@>
                                                <%= corpsHumainZone.get('Nom') %>
                                            </option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-3">
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> FAS
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> FPA
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> AS
                                    </label>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> OA/NC
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Veille Régl.
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Référentiel
                                    </label>
                                </div>

                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-danger">
                <div class="panel-heading" style="background-color :#c42031; color: white">Résultats</div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    @Html.ActionLink("Code", "Index", new { sortOrder = ViewBag.TriParametreCode })
                                </th>
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Desciption
                                </th>
                                <th>
                                    Clôture
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% ficheSecuriteCollection.each( function(ficheSecurite){ %>
                            <tr>
                                <td>
                                    <%= ficheSecurite.get('Code') %>
                                </td>
                                <td>
                                    <%= ficheSecurite.get('personneConcerneeModel').get('Nom') %>
                                </td>
                                <td>
                                    <%= ficheSecurite.get('Description') %>
                                </td>
                                <td>
                                    CLOTURE ? @*@Html.DisplayFor(modelItem => item.)*@
                                </td>
                                <td>
                                    <a class="glyphicon glyphicon-edit" href="<%= ficheSecurite.get('urlEdit')%>"></a> |                         @*@Url.Action("Edit", new { id = <% ficheSecurite.get('FicheSecuriteId')%> })*@
                                    <a class="glyphicon glyphicon-remove" @*href="@Url.Action("Delete", new { id = item.FicheSecuriteID })"*@></a>
                                </td>
                            </tr>
                            <%  });  %>
                        </tbody>
                    </table>
                    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

                    @* //// @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@

                    @*@Html.PagedListPager(Model, page => Url.Action("Index",
                                 new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.SearchString }))*@



                </div>
            </div>
        </div>
    </div>



</script>

<div id="TableRechercheDiv">
</div>



<script type="text/javascript">


    $(document).ready(function () {


        var rechercheFicheSecuriteViewModel = new RechercheFicheSecuriteViewModel();

        rechercheFicheSecuriteViewModel.fetch({
            async: false   //, success: this.arraysToModelCollections
        });

        rechercheFicheSecuriteViewModel.set({ 'siteCollection': new SiteCollection(rechercheFicheSecuriteViewModel.get('AllSite')) });
        rechercheFicheSecuriteViewModel.set({ 'zoneCollection': new ZoneCollection(rechercheFicheSecuriteViewModel.get('AllZone')) });
        rechercheFicheSecuriteViewModel.get('zoneCollection').each(function (zone, index) {
            zone.set({ 'Nom': zone.get('ZoneType').Nom });
        });
        rechercheFicheSecuriteViewModel.set({ 'lieuCollection': new LieuCollection(rechercheFicheSecuriteViewModel.get('AllLieu')) });
        rechercheFicheSecuriteViewModel.get('lieuCollection').each(function (lieu, index) {
            lieu.set({ 'Nom': lieu.get('LieuType').Nom });
        });
        rechercheFicheSecuriteViewModel.set({ 'posteDeTravailCollection': new PosteDeTravailCollection(rechercheFicheSecuriteViewModel.get('AllPosteDeTravail')) });
        rechercheFicheSecuriteViewModel.get('posteDeTravailCollection').each(function (posteDeTravail, index) {
            posteDeTravail.set({ 'Nom': posteDeTravail.get('PosteDeTravailType').Nom });
        });
        rechercheFicheSecuriteViewModel.set({ 'ficheSecuriteTypeCollection': new FicheSecuriteTypeCollection(rechercheFicheSecuriteViewModel.get('AllFicheSecuriteType')) });
        rechercheFicheSecuriteViewModel.set({ 'plageHoraireCollection': new PlageHoraireCollection(rechercheFicheSecuriteViewModel.get('AllPlageHoraire')) });
        rechercheFicheSecuriteViewModel.set({ 'dangerCollection': new DangerCollection(rechercheFicheSecuriteViewModel.get('AllDanger')) });
        rechercheFicheSecuriteViewModel.set({ 'corpsHumainZoneCollection': new CorpsHumainZoneCollection(rechercheFicheSecuriteViewModel.get('AllCorpsHumainZone')) });
        rechercheFicheSecuriteViewModel.set({ 'risqueCollection': new RisqueCollection(rechercheFicheSecuriteViewModel.get('AllRisque')) });
        rechercheFicheSecuriteViewModel.set({ 'risqueTypeCollection': new RisqueTypeCollection(rechercheFicheSecuriteViewModel.get('AllRisqueType')) });




        rechercheFicheSecuriteViewModel.set({ 'ficheSecuriteCollection': new FicheSecuriteCollection(rechercheFicheSecuriteViewModel.get('AllFicheSecurite')) });

        rechercheFicheSecuriteViewModel.get('ficheSecuriteCollection').each(function (ficheSecurite, index) {
            ficheSecurite.set({ 'personneConcerneeModel': new PersonneConcerneeModel(ficheSecurite.PersonneConcernee) });

            //Création d'un ActionLink Razor MVC afin d'accéder à l'édition/suppression de la fiche (triche)
            var idValue = ficheSecurite.get('FicheSecuriteID');
            var urlEdit = '@Url.Action("Edit", new { id=-1 })';
            urlEdit = urlEdit.replace('-1', idValue);
            ficheSecurite.set({ 'urlEdit': urlEdit });

        });

        //var boxIdValue = 233;
        //var link = '@*@Html.ActionLink("Detail", "Show", "Boxes", new{boxId=-1}, null)*@'
        //link = link.replace('-1', boxIdValue);
        //var result = title + '<br />' + link;

        //causeCollection.each(function (cause, index) {
        //    cause.set({ 'actionCollection': new ActionCollection(cause.get('Actions')) });
        //    cause.set({ 'actionModel': new ActionModel() });
        //    cause.get('actionCollection').each(function (action, index) {
        //        action.set({ 'Responsable': new ResponsableModel(action.get('Responsable')) });
        //        action.set({ 'DateButoireInitiale': dateFormatJS(action.get('DateButoireInitiale')) });
        //        action.set({ 'DateButoireNouvelle': dateFormatJS(action.get('DateButoireNouvelle')) });
        //    });
        //    cause.get('actionModel').set({ 'Responsable': new ResponsableModel() });
        //});


        var RechercheTableView = Backbone.View.extend({

            id: 'RechercheTableFicheSecurite',
            template: _.template($('#TableRecherche').html()),
            render: function () {
                this.$el.html(this.template(this.model.toJSON()));

                //$('#table_id').DataTable({
                //    "ajax": {
                //        "url": "/api/FicheSecurite",
                //        "dataSrc": "tableData"
                //    },
                //    "columns": [
                //        { "data": "Code" },
                //        { "data": "Nom" },
                //        { "data": "Déscription" },
                //        { "data": "Clôture" },
                //    ]

                //});

                return this;
            },
            initialize: function () {
                this.render();
            },
            events: {

            },



        });

        var rechercheTableView = new RechercheTableView({
            el: $("#TableRechercheDiv"),
            model: rechercheFicheSecuriteViewModel
        });



    });


</script>


